<settings>
    <category label="IPTV Settings">
        <setting id="server_url" type="text" label="Server URL" default="" />
        <setting id="username" type="text" label="Username" default="" />
        <setting id="password" type="text" label="Password" default="" />
    </category>
</settings>
